{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Skill Category{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <br />
                {{ utils.flashed_messages() }}
                <br />
                <h1 style="text-align:center;">Skill Category</h1>
                {% if skillCategory %}
                <hr class="intro-divider">
                <div class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="15%"> Name </th>
                                <th width="15%"> Edit </th>
                                <th width="15%"> Delete </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in skillCategory %}
                            <tr>
                                <td> {{ item.category_name }} </td>                                

                                <td>
                                    <a href="{{ url_for('skill.edit_skill_category', id=item.id) }}">
                                        <i class="fa fa-pencil"></i> Edit
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('skill.delete_skill_category', id=item.id) }}">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center">
                    {% else %}
                    <div style="text-align: center">
                        <h3> No skill category has been added. </h3>
                        <hr class="intro-divider">
                        {% endif %}
                        <a href="{{ url_for('skill.add_skill_category') }}" class="btn btn-default btn-lg">
                            <i class="fa fa-plus"></i>
                            Add Skill Category
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
